.flex-center {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.flexalign-center {
  flex: 1;
  align-items: center;
}
.flexalign-start {
  flex: 1;
  align-items: start;
}
.flexitem-1 {
  flex: 1;
}
